extends layoutproductpage

block content
	.header1
		.head
			h3 Manage Products

	.header2
		button.logo.btn.btn-success Log Out
	
	.display
	.end
		button.btn.btn-success.edit(hidden='true') Edit
		p.idval(hidden='true') #{id}	