extends layouthome

block content
	.header1
		.head
			h3 Home Page
			p.wel Welcome #{user}
	.header2
		button.btn.btn-success Log Out
	
	.borrow
		.overlay
			h2.txt BORROW
	.lend
		.overlay
			h2.txt LEND

	
