extends layoutlend

block content
	.header1
		.head
			h3 Lend
			p.wel Add/Edit Products or Check Requests
	.header2
		button.btn.btn-success.logo Log Out
	
	.add
		.overlay
			h2.txt ADD PRODUCT

	.manage
		.overlay
			h2.txt MANAGE PRODUCTS

	.msgreq
		.overlay
			h2.txt CHECK REQUESTS

	
