extends layoutborrow

block content
	.header1
		.head
			h3 Search Area

	.header2
		button.logo.btn.btn-success Log Out
	
	.search
		input.sbar(type = 'text', placeholder = 'Search...')
		button.btn.btn-default.submit Search
	.msgrequest
		button.btn.btn-success.mq Requests Status
			
